<!DOCTYPE html>
<html>
    <% include ../page/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/slideshow.css">
</head>
<body class="grey">

    <% include ../page/header.ejs %>

    <div id="header">
        <div id="slideshow">
            <% galleries.forEach(function(gallery, index) { %>
                <% if (typeof gallery['dataValues']['cover'] != 'undefined') { %>
                    <div class="slide" style="background-image: url(<%= gallery['dataValues']['cover'] %>);"></div>
                <% } %>
            <% }); %>
        </div>
        <div class="header-overlay"></div>
        <div class="header-content">
            <h1><%= title %></h1>
            <% if (typeof subtitle != 'undefined') { %>
                <h2><%= subtitle %></h2>
            <% } %>
        </div>
    </div>


    <div id="content" class="gallery">
    <div class="header-bottom"></div>

        <div class="container-fluid">
            <div class="col-sm-12 col-md-12 main">
                <% if (galleries[0]['dataValues']['url']) { %>
                    <div class="row">
                        <% galleries.forEach(function(gallery, index) { %>
                            <a href="<%= gallery['dataValues']['url'] %>">

                                <div class="col-xs-12 col-sm-6 col-md-3 item">

                                    <div class="item-container">
                                        <h4 class="name"><%= gallery['dataValues']['name'] %></h4>
                                        <h5 class="date"><%= gallery['dataValues']['month'] %> <%= gallery['dataValues']['year'] %></h5>
                                        <img src="<%= gallery['dataValues']['thumb'] %>" class="img-responsive thumb" alt="Gallery thumbnail" width="100%">
                                    </div>

                                </div>
                            </a>
                        <% }); %>
                    </div>
                <% } else { %>
                    <h1 class="heading text-center">Nothing here yet ...</h1>
                <% }; %>
            </div>
        </div>

    </div>
    <% if (typeof session.user !== 'undefined') { %>
        <div class="admin center">

            <a class="new-text">
                <i class="fa fa-plus"></i> <span>New gallery</span>
            </a>

        </div>
    <% } %>

    <% include ../page/jsdefaults.ejs %>
    <script src="/javascripts/cover.js"></script>

</body>
</html>
