<!DOCTYPE html>
<html>
    <% include ../page/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/background.css">
</head>
<body class="mobile dark-bg">
    <% include ../page/header.ejs %>
    <% include ../page/background.ejs %>
    <div id="content" class="gallery gallerySpec">
        <div class="container-fluid">
            <div class="col-sm-12 col-md-12 main">
                <h1 class="gallery-name">
                    <span class="big"><%= gallery['dataValues']['name'] %></span>
                    <br>
                    <span class="small"><%= gallery['dataValues']['month'] %></span>
                    <span class="small"><%= gallery['dataValues']['year'] %></span>
                </h1>
                <% if (!photos[0]) { %>
                    <h1 class="gallery-name">Nothing here yet ...</h1>
                <% } else { %>
                    <div class="row ">
                        <% photos.forEach(function(photo, index) { %>
                                <div class="col-xs-12 col-sm-6 col-md-3 item transparent-bg">
                                    <div class="item-container">
                                        <img src="/thumb<%= photo['dataValues']['url'] %>" class="img-responsive thumb" alt="photo thumbnail" width="100%">
                                    </div>
                                </div>
                        <% }); %>
                    </div>
                <% }; %>
            </div>
        </div>
    </div>
    <div class="back">
        <a href="/gallery"><i class="fa fa-arrow-left"></i> <span>Back</span></a>
    </div>
    <% if (typeof session.user !== 'undefined') { %>
        <div class="admin">

            <a class="upload-text">
                <i class="fa fa-upload"></i> <span>Upload</span>
            </a> |
            <a class="remove-text">
                <i class="fa fa-remove"></i> <span>Remove</span>
            </a>
        </div>
        <form id="remove-form" action="/dashboard/<%= gallery['dataValues']['name'] %>/<%= gallery['dataValues']['year'] %>/<%= gallery['dataValues']['month'] %>" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="delete" />
        </form>

        <div class='popup-form'>
            <form class='form' id='upload-form' method='POST' action='/dashboard/<%= gallery['dataValues']['name'] %>/<%= gallery['dataValues']['year'] %>/<%= gallery['dataValues']['month'] %>' enctype='multipart/form-data'>
                <h2>Upload photos to gallery</h2>
                <input name='photos' type='file' class='input input-file' placeholder='Photos' id='photofield' required='' multiple='' hidden/>
                <input name='fake-file' type='reset' class='fake-input button-green fake-input-file' id='photofield' value='Touch to select photos'/>

                <p class="files-selected">
                    0 Photos selected
                </p>

                <input type='submit' name='create' value='UPLOAD' class='button-blue button-submit' id='create'/>
                <input type='reset' name='cancel' value='CANCEL' class='button-red button-cancel' id='cancel'/>

            </form>
        </div>

    <% } %>
    <div class="bottom"></div>

    <% include ../page/jsdefaults.ejs %>
    <script src="/javascripts/gallery.js"></script>

</body>
</html>
