<!DOCTYPE html>
<html>
    <% include ../page/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/background.css">
</head>
<body class="dashboard mobile dark-bg">

    <% include ../page/header.ejs %>

    <div id="content" class="dashboard down-content gallery">

        <div class="container-fluid">
            <div class="col-sm-12 col-md-12 main text-center">
                <h1 class="heading">Latest Galleries</h1>
                <% if (!latestGalleries[0]) { %>
                    <h1 class="heading text-center">Nothing here yet ...</h1>
                <% };%>
                <div class="row">
                    <% latestGalleries.forEach(function(gallery, index) { %>
                        <% if (gallery['dataValues']['thumb']) { %>
                            <a href="<%= gallery['dataValues']['url'] %>">

                                <div class="col-xs-12 col-sm-6 col-md-3 item">

                                    <div class="item-container">
                                        <h4 class="name"><%= gallery['dataValues']['name'] %></h4>
                                        <h5 class="date"><%= gallery['dataValues']['month'] %> <%= gallery['dataValues']['year'] %></h5>
                                        <img src="<%= gallery['dataValues']['thumb'] %>" class="img-responsive thumb" alt="Gallery thumbnail" width="100%">

                                    </div>
                                </div>
                            </a>
                        <% }; %>
                    <% }); %>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="admin center">
        <a class="new-text">
            <i class="fa fa-plus"></i> <span>New gallery</span>
        </a>
    </div>
    <div class="bottom"></div>

    <% include ../page/jsdefaults.ejs %>

</body>
</html>
